@import "tailwindcss";

@theme inline {
  --color-brand-blue: #2563EB;
  --color-brand-light-blue: #DBEAFE;
  --color-brand-cyan: #22D3EE;
  --color-brand-cyan-light: #CFFAFE;
  
  --color-background: #F8FAFC;
  --color-foreground: #0F172A;
  
  --font-sans: var(--font-inter);
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom utility for hiding scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
